.idea

# Editor files
*.swp
.mypy_cache/
mypy.ini

# Docs
*/_build/*

# Python files
*~
*.pyc
.pytest_cache/

# Extras
nohup.out
*\#*
twistd.pid

# Testing
test/common/*.vcf~
test/common/dump/
.coverage
coverage.xml
*test_run.vcf*
xx-*
test-*
c57*

# Build files
*egg-info*
build/
dist/
