# Editor files
*.swp
.pydocstyle
.mypy_cache/
.bandit

# Docs
docs/_build/

# Python files
*~
*.pyc
.pytest_cache/

# Extras
nohup.out
*\#*

# Testing
test/common/*.vcf~
test/common/dump/
.coverage
coverage.xml
*test_run.vcf*
xx-*
test-*
c57*

# Build files
*egg-info*
build/
dist/
