[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "trtools"
version = "5.1.1"
authors = [
    {name = "Melissa Gymrek", email = "mgymrek@ucsd.edu"},
    {name = "Gymrek Lab"},
]
description = "Toolkit for genome-wide analysis of STRs"
readme = "README.rst"
requires-python = ">=3.6"
license = {text = "MIT"}
classifiers = [
    "Programming Language :: Python :: 3.5",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Bio-Informatics",
]
dependencies = [
    "importlib-metadata", # required as long as we support py<3.8
    "cyvcf2",
    "matplotlib",
    "numpy",
    "pandas",
    "pybedtools",
    "pysam",
    "scikit-learn",
    "scipy",
    "statsmodels",
    "pyfaidx",
]

[tool.setuptools]
script-files = ["trtools/testsupport/test_trtools.sh", "scripts/trtools_prep_beagle_vcf.sh"]
license-files = ["LICENSE.txt"]

[tool.setuptools.packages.find]
exclude = ["trtools.testsupport.*", "doc"]

[project.scripts]
dumpSTR = "trtools.dumpSTR:run"
mergeSTR = "trtools.mergeSTR:run"
statSTR = "trtools.statSTR:run"
compareSTR = "trtools.compareSTR:run"
qcSTR = "trtools.qcSTR:run"
associaTR = "trtools.associaTR:run"
prancSTR = "trtools.prancSTR:run"
simTR = "trtools.simTR:run"

[project.urls]
Homepage = "https://trtools.readthedocs.org"
Documentation = "https://trtools.readthedocs.org"
Repository = "https://github.com/gymrek-lab/trtools.git"
Changelog = "https://github.com/gymrek-lab/trtools/blob/master/RELEASE_NOTES.rst"
