# the autodoc_typehints configuration option
# requires sphinx>=3
sphinx>=3

# include all of trtools's runtime requirements as document
# building requirements, as autodoc imports all python modules
# in order to build their docs, and this will require the entire
# runtime environment to be available
-r ../requirements.txt
